{% load static %}
<div id="CookielawBanner">
	<div class="row position-fixed cookie">
		<div class="col-12">
			<h2 class="text-start">Cookies</h2>
		</div>
		<div class="col-12">
			<p class="fw-bold mb-1">Notice that cookies are used to proper functioning of the website.
				By continuing, you agree to the use of them.<br>
			</p>
		</div>
		<div class="col-12">
			<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_en"
				class="fw-bold focus-ring">What are the cookies?</a>
		</div>
		<div class="col-12">
			<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-dark focus-ring mt-2">
				Accept and close</a>
		</div>
	</div>
</div>
<script src="{% static 'js/cookielaw.js' %}"></script>