<!DOCTYPE html>
{% load static %}
{% load cookielaw_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The company is involved in crafting top-quality firewood and uses a wide range of wood
    types, such as sturdy, soft, and hardwoods like birch, oak, alder, maple, pine, and
    spruce. We're open to collaborating with new companies around whole Europe.">
    <title>SIA "L-GOR" :: About</title>
    <link rel="canonical" href="https://www.elgor.lv/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        {% include 'inc/_nav.html' %}
    </header>
    <main>
        <div class="container-fluid gx-0 bg-body-tertiary">
            <div class="container gx-0">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    {% cookielaw_banner %}
    <footer class="py-3 bg-dark-subtle">
        <div class="container">
            {% include 'inc/_foo.html' %}
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
        integrity="sha512-HaoDYc3PGduguBWOSToNc0AWGHBi2Y432Ssp3wNIdlOzrunCtB2qq6FrhtPbo+PlbvRbyi86dr5VQx61eg/daQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://kit.fontawesome.com/17b4039aee.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
</body>

</html>