{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row breeds mt-4 mt-xl-5">
	<!-- Breeds -->
	<div class="col-12 col-md-7">
		<div class="main-carousel">
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/1.webp' %}" type="image/webp">
					<img src="{% static 'img/1.jpg' %}" alt="Firewood photo #1">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/2.webp' %}" type="image/webp">
					<img src="{% static 'img/2.jpg' %}" alt="Firewood photo #2">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/3.webp' %}" type="image/webp">
					<img src="{% static 'img/3.jpg' %}" alt="Firewood photo #3">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/4.webp' %}" type="image/webp">
					<img src="{% static 'img/4.jpg' %}" alt="Firewood photo #4">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/5.webp' %}" type="image/webp">
					<img src="{% static 'img/5.jpg' %}" alt="Firewood photo #5">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/6.webp' %}" type="image/webp">
					<img src="{% static 'img/6.jpg' %}" alt="Firewood photo #6">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/7.webp' %}" type="image/webp">
					<img src="{% static 'img/7.jpg' %}" alt="Firewood photo #7">
				</picture>
			</div>
			<div class="carousel-cell mx-1">
				<picture>
					<source srcset="{% static 'img/8.webp' %}" type="image/webp">
					<img src="{% static 'img/8.jpg' %}" alt="Firewood photo #8">
				</picture>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-5 d-flex align-items-center">
		<div class="box d-flex align-items-center">
			<h4 class="text-center text-white mb-0">
				The company is involved in crafting top-quality firewood and uses a wide range of wood
				types, including sturdy, soft, and hardwoods like birch, oak, alder, maple, pine, and
				spruce. No need to worry; we have a closed production cycle that covers
				everything from the forest to delivery to you.
			</h4>
		</div>
	</div>
	<div class="col-12 d-flex justify-content-center">
		<a class="contact-link fw-bold mt-3" href="#how_it_works">Learn more</a>
	</div>
</div>
<hr>
<div class="row countries mt-4">
	<!-- Countries -->
	<div class="col-12 col-lg-3 d-flex align-items-center">
		<div class="box">
			<h4 class="text-center text-white mb-0 px-5 px-lg-0">We're working with multiple companies around Europe.
				We're open to collaborating with new ones.
			</h4>
		</div>
	</div>
	<div class="col-12 col-lg-9 d-flex justify-content-center">
		<picture>
			<source srcset="{% static 'img/countries.webp' %}" type="image/webp">
			<img src="{% static 'img/countries.jpg' %}" alt="Europe map of partner countries">
		</picture>
	</div>
</div>
<hr>
<div class="row digits mt-4">
	<!-- Digits -->
	<div class="col-6 col-lg-3">
		<div class="box d-flex flex-column justify-content-center align-items-center">
			<i class="fa-solid fa-calendar-days fa-2xl"></i>
			<h3 class="text-white fw-bold">10+</h3>
			<p class="text-center text-white px-4">Total years of experience</p>
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="box d-flex flex-column justify-content-center align-items-center">
			<i class="fa-solid fa-truck fa-2xl"></i>
			<h3 class="text-white fw-bold">420</h3>
			<p class="text-center text-white px-4">Total cargo sent in 2022</p>
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="box d-flex flex-column justify-content-center align-items-center">
			<i class="fa-solid fa-sack-dollar fa-2xl"></i>
			<h3 class="text-white fw-bold">2.3kk</h3>
			<p class="text-center text-white px-4">Total cash flow in 2022</p>
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="box d-flex flex-column justify-content-center align-items-center">
			<i class="fa-solid fa-handshake-simple fa-2xl"></i>
			<h3 class="text-white fw-bold">15</h3>
			<p class="text-center text-white px-1 px-lg-4">Total agreements in 2022</p>
		</div>
	</div>
</div>
<hr>
<div class="row roadmap mt-4">
	<!-- Roadmap -->
	<a name="how_it_works"></a>
	<h1 class="text-center fw-bold">Production cycle</h1>
	<h2 class="text-center">How it works?</h2>
	<div class="timeline">
		<div class="cell">
			<div class="info">
				<h3 class="title fw-bold">Buying/growing forest</h3>
				<picture>
					<source srcset="{% static 'img/growing.webp' %}" type="image/webp">
					<img src="{% static 'img/growing.jpg' %}" alt="Buying/growing forest illustration" loading="lazy">
				</picture>
			</div>
		</div>
		<div class="cell">
			<div class="info">
				<h3 class="title fw-bold">Tree harvesting</h3>
				<picture>
					<source srcset="{% static 'img/harvesting.webp' %}" type="image/webp">
					<img src="{% static 'img/harvesting.jpg' %}" alt="Tree harvesting illustration" loading="lazy">
				</picture>
			</div>
		</div>
		<div class="cell">
			<div class="info">
				<h3 class="title fw-bold">Tree processing</h3>
				<picture>
					<source srcset="{% static 'img/processing.webp' %}" type="image/webp">
					<img src="{% static 'img/processing.jpg' %}" alt="Tree processing illustration" loading="lazy">
				</picture>
			</div>
		</div>
		<div class="cell">
			<div class="info">
				<h3 class="title fw-bold">Firewood drying</h3>
				<picture>
					<source srcset="{% static 'img/drying.webp' %}" type="image/webp">
					<img src="{% static 'img/drying.jpg' %}" alt="Firewood drying illustration" loading="lazy">
				</picture>
			</div>
		</div>
		<div class="cell">
			<div class="info">
				<h3 class="title fw-bold">Firewood loading for delivery</h3>
				<picture>
					<source srcset="{% static 'img/loading.webp' %}" type="image/webp">
					<img src="{% static 'img/loading.jpg' %}" alt="Firewood loading for delivery illustration"
						loading="lazy">
				</picture>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row cnc mt-4">
	<!-- Contacts & Certificates-->
	<a name="contacts"></a>
	<div class="col-12 col-md-8">
		<p class="text-center fs-5"><i class="fa-solid fa-bullhorn"></i>&nbsp;You can reach us
			directly through:</p>
		<ul class="list-unstyled">
			<li class="text-center fs-5">
				<i class="fa-solid fa-phone"></i>&nbsp;<strong>Phone</strong>:
				<a href="tel:+37126677812" class="fw-bold">+371 26 677 812</a> (in Russian)
			</li>
			<li class="text-center fs-5">
				<i class="fa-solid fa-envelope"></i>&nbsp;<strong>Email</strong>:
				<a href="mailto:forvest@inbox.lv" class="fw-bold">forvest@inbox.lv</a> (in English)
			</li>
		</ul>
		<p class="text-center fs-5">Or using the form below:&nbsp;
			<i class="fa-solid fa-arrow-turn-down"></i>
		</p>
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible rounded-pill fw-bold" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<form method="post" class="d-flex flex-column">
			{% csrf_token %}
			{{ form.name }}
			{{ form.sender }}
			{{ form.subject }}
			{{ form.content }}
			{{ form.captcha }}
			<p class="text-center text-muted mb-0">
				<small>Please double check your email before submitting as
					we can't respond to the wrong ones.</small>
			</p>
			<button type="submit" class="contact-link fw-bold mx-auto my-2">Submit</button>
		</form>
		<p class="text-center fs-5">We'll do our best to respond as soon as possible!&nbsp;
			<i class="fa-regular fa-circle-check"></i>
		</p>
	</div>
	<div class="col-md-4 d-flex justify-content-center align-items-center">
		<picture>
			<source srcset="{% static 'img/fsc_certificate.webp' %}" type="image/webp">
			<img src="{% static 'img/fsc_certificate.png' %}" alt="FSC Certificate" loading="lazy">
		</picture>
	</div>
</div>
{% endblock %}